.hireMe{
    background-image: url("../../../public/img/bg/bg2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:300px;
    display: flex;
    button{
        transition: 0.3s;
        color: white;
        padding: 10px 22px;
        background-color: transparent;
        &:hover{
            background-color: rgb(22, 12, 12);
            color: white;
        }
    }
}
@media(max-width: 512px){
    .hireMe{
        height: 280px;
        h1{
            font-size: 20px;
        }
        button{
            padding: 5px 11px;
        }
    }
}
@media(max-width: 350px){
    .hireMe{
        height: 280px;
        h1{
            font-size: 18px;
        }
    }
}