.aboutMe{
    display: flex;
    &-2{
        &-1{
            display: flex;
            // justify-content: center;
            img{
                width: 320px;
                object-fit: cover;
                position: relative;
                z-index: -1;

                &::before{
                    position: absolute;
                content: '';
                top: 0;
                left: 0;
                right: 40px;
                bottom: 0;
                border-right: 50px solid transparent;
                border-bottom: 30px solid rgb(255, 255, 255);
                z-index: -1;
                }
            }
            @media(max-width: 1000px){
                img{
                    width: 250px;
                }
            }
        }
        @media(max-width: 770px){
            &-1{
               order: 2; 
               img{
                display: none;
               }
            }
        }
        &-2{
            // padding-left: 50px;
            // width: 600px;
            h2{
                font-weight: 700;
            }
            p{
                font-weight: 500;
                opacity: 0.9;
            }
            .status{
                &>div{
                    padding: 5px 0;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .icon{
                        color:aqua;
                    }
                    .status-1-1{
                        width: 50px;
                        font-weight: 600;
                        
                    }
                    .status-1-2{
                        font-weight: 500;
                        &::before{
                            padding: 30px;
                            content: ':';
                            text-align: right;
                        }
                    }
                    @media(max-width: 425px){
                        .status-1-2{
                            &::before{
                                padding: 10px;
                            }
                        }
                    }
                }
            }
            .interest{
                h4{
                    font-weight: 700;
                }
                &-2{
                    list-style: none;
                    display: flex;
                    gap: 25px;
                    padding-left: 0;
                    flex-wrap: wrap;
                    li{
                        .name{
                            font-weight: 600;
                        }
                    }
                    
                }
            }
        }
    }
}